.account-content{
    background-color: $bg-gray;
    padding: 50px 0 60px 0;
}
.ocrid{
    display: block;
    color: $text-green;
    padding-left: 40px;
    position: relative;
    font-size: 1rem;
    line-height: 1rem;
    &::before{
        position: absolute;
        content: '';
        background: url(../images/ico47.svg) no-repeat;
        top: -8px;
        left: 0;
        width: 32px;
        height: 32px;
    }
}
.user-img{
    max-width: 46px;
    width: 100%;
    height: 46px;
}
.media{
    min-width: 50px;
}
.rating-content{
    @media (min-width: $size-xl) {
        position: absolute;
        top: 0;
        right: 0;
    }
}    
.review-date{
    @media (min-width: $size-xl) {
        position: absolute;
        top: 15px;
        right: 0;
    }
}