.input-file{
    display: none;
}
.form-file{
    position: absolute;
    top: 130px;
    left: 110px;
    width: fit-content;
}
.label-file{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    border-radius: 50%;
    box-shadow: 0px 3px 17px rgba(43, 123, 211, 0.15);
    .fas{
        font-size: 14px;
        color: $primary;
        display: inline-block;
    }
}
